<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.willliamgustafsson.tab_gui2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />
    <!-- PERMISSIONS -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- LIBRARIES -->
<!--     <uses-library android:name="android.coap" />
    
    <uses-library android:name="android.jcoap" />
    <uses-library android:name="android.jcoap.connection" />
    <uses-library android:name="android.jcoap.interfaces" />
    <uses-library android:name="android.jcoap.messages" />
    <uses-library android:name="android.jcoap.tools" /> -->
        
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".And_Tab2Activity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ServerActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".DeviceActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".OptionsActivity"
            android:label="@string/app_name" >
        </activity>
        
    </application>

</manifest>